absl-py==2.1.0
alabaster==1.0.0
annotated-types==0.7.0
anyio 
appnope 
argon2-cffi 
argon2-cffi-bindings 
arrow 
asttokens 
astunparse==1.6.3
async-lru 
attrs 
audioread==3.0.1
babel 
beautifulsoup4 
bleach 
Brotli 
cached-property 
certifi 
cffi 
charset-normalizer 
click==8.1.8
clip @ git+https://github.com/openai/CLIP.git@dcba3cb2e2827b402d2701e7e1c7d9fed8a20ef1
colorama 
comm 
contourpy==1.3.1
cycler 
debugpy 
decorator 
defusedxml 
docker-pycreds==0.4.0
docutils==0.21.2
easydict==1.13
einops==0.8.1
exceptiongroup 
executing 
fastjsonschema 
filelock==3.18.0
flatbuffers==25.2.10
fonttools==4.56.0
fqdn 
fsspec==2025.3.0
ftfy==6.3.1
gast==0.6.0
gitdb==4.0.12
GitPython==3.1.44
google-pasta==0.2.0
grpcio==1.71.0
h11 
h2 
h5py==3.13.0
hf-xet==1.1.5
hpack 
httpcore 
httpx 
huggingface-hub==0.33.1
hyperframe 
idna 
imagecodecs 
imageio 
imagesize==1.4.1
importlib_metadata 
importlib_resources 
ipykernel 
ipython 
ipywidgets 
isoduration 
jedi 
Jinja2 
joblib==1.4.2
json5 
jsonpointer 
jsonschema 
jsonschema-specifications 
jupyter 
jupyter-console 
jupyter-events 
jupyter-lsp 
jupyter_client 
jupyter_core 
jupyter_server 
jupyter_server_terminals 
jupyterlab 
jupyterlab_pygments 
jupyterlab_server 
jupyterlab_widgets 
keras==3.9.2
kiwisolver 
lazy_loader 
libclang==18.1.1
librosa==0.11.0
llvmlite==0.44.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe 
matplotlib==3.10.1
matplotlib-inline 
mdurl==0.1.2
mistune 
ml_dtypes==0.5.1
mnist1d @ git+https://github.com/greydanus/mnist1d@7878d96082abd200c546a07a4101fa90b30fdf7e
mpmath==1.3.0
msgpack==1.1.1
munkres==1.1.4
namex==0.0.9
narwhals 
nbclient 
nbconvert 
nbformat 
nest_asyncio 
networkx 
notebook 
notebook_shim 
numba==0.61.2
numpy==2.1.3
opt_einsum==3.4.0
optree==0.15.0
overrides 
packaging 
pandas 
pandocfilters 
parso 
patsy 
pexpect 
pickleshare 
pillow 
pkgutil_resolve_name 
platformdirs 
plotly 
pooch==1.8.2
prometheus_client 
prompt_toolkit 
protobuf==5.29.3
psutil 
ptyprocess 
pure_eval 
pycparser 
pydantic==2.10.6
pydantic_core==2.27.2
Pygments 
pynndescent==0.5.13
pyobjc-core 
pyobjc-framework-Cocoa 
pyparsing==3.2.1
PySocks 
python-dateutil 
python-json-logger 
pytz 
PyWavelets==1.8.0
PyYAML 
pyzmq 
referencing 
regex==2024.11.6
requests 
rfc3339_validator 
rfc3986-validator 
rich==14.0.0
rpds-py 
safetensors==0.5.3
scikit-image 
scikit-learn==1.6.1
scipy 
seaborn 
Send2Trash 
sentry-sdk==2.23.1
setproctitle==1.3.5
six 
smmap==5.0.2
sniffio 
snowballstemmer==3.0.1
soundfile==0.13.1
soupsieve 
soxr==0.5.0.post1
Sphinx==8.1.3
sphinx-autodoc-typehints==3.0.1
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
stack_data 
statsmodels 
sympy==1.13.1
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==3.1.0
terminado 
threadpoolctl==3.6.0
tifffile 
timm==1.0.16
tinycss2 
tomli 
torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
tornado 
tqdm 
traitlets 
types-python-dateutil 
typing_extensions 
typing_utils 
tzdata 
umap-learn==0.5.7
unicodedata2 
uri-template 
urllib3 
wandb==0.19.8
wcwidth 
webcolors 
webencodings 
websocket-client 
Werkzeug==3.1.3
widgetsnbextension 
wrapt==1.17.2
zipp 
zstandard==0.23.0
