absl-py==2.1.0
accelerate==1.9.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
alabaster==1.0.0
alias-free-torch==0.0.6
annotated-types==0.7.0
anyio
appdirs==1.4.4
appnope
argbind==0.3.9
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse==1.6.3
async-lru
async-timeout==5.0.1
attrs
audioread==3.0.1
auraloss==0.4.0
babel
beautifulsoup4
bleach
braceexpand==0.1.7
Brotli
cached-property
cachetools==5.5.2
certifi
cffi
charset-normalizer
clean-fid==0.1.35
click==8.1.8
clip @ git+https://github.com/openai/CLIP.git@dcba3cb2e2827b402d2701e7e1c7d9fed8a20ef1
clip-anytorch==2.6.0
colorama
comm
configparser==7.2.0
contourpy==1.3.1
cqt-nsgt-pytorch==0.0.10
cycler
dctorch==0.1.2
debugpy
decorator
defusedxml
descript-audio-codec==1.0.0
descript-audiotools==0.7.2
diffusers==0.34.0
docker-pycreds==0.4.0
docstring_parser==0.17.0
docutils==0.21.2
easydict==1.13
einops==0.8.1
einops-exts==0.0.4
einx==0.3.0
ema-pytorch==0.2.3
encodec==0.1.1
exceptiongroup
executing
fastapi==0.116.1
fastjsonschema
ffmpy==0.6.1
filelock==3.18.0
fire==0.7.0
flatbuffers==25.2.10
flatten-dict==0.4.2
fonttools==4.56.0
fqdn
frozendict==2.4.6
frozenlist==1.7.0
fsspec==2025.3.0
ftfy==6.3.1
future==1.0.0
gast==0.6.0
gin-config==0.5.0
gitdb==4.0.12
GitPython==3.1.44
google==3.0.0
google-api-core==2.25.1
google-api-python-client==2.177.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2
google-pasta==0.2.0
googleAPI==0.1.0
googleapis-common-protos==1.70.0
gradio==5.39.0
gradio_client==1.11.0
groovy==0.1.2
grpcio==1.71.0
h11
h2
h5py==3.13.0
hf-xet==1.1.5
hpack
httpcore
httplib2==0.22.0
httpx
huggingface-hub==0.34.3
hyperframe
idna
imagecodecs
imageio
imagesize==1.4.1
importlib-resources==5.12.0
importlib_metadata
ipykernel
ipython
ipywidgets
isoduration
jedi
Jinja2
joblib==1.4.2
json5
jsonmerge==1.9.2
jsonpointer
jsonschema
jsonschema-specifications
julius==0.2.7
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
k-diffusion==0.1.1
keras==3.9.2
kiwisolver
kornia==0.8.1
kornia_rs==0.1.9
laion-clap==1.1.4
lazy_loader
libclang==18.1.1
librosa==0.11.0
lightning-utilities==0.15.0
llvmlite==0.43.0
local-attention==1.8.6
Markdown==3.7
markdown-it-py==3.0.0
markdown2==2.5.4
MarkupSafe
matplotlib==3.10.1
matplotlib-inline
mdurl==0.1.2
mistune
ml_dtypes==0.5.1
mnist1d @ git+https://github.com/greydanus/mnist1d@7878d96082abd200c546a07a4101fa90b30fdf7e
mpmath==1.3.0
msgpack==1.1.1
multidict==6.6.3
munkres==1.1.4
muon-optimizer @ git+https://github.com/KellerJordan/Muon@f90a42b28e00b8d9d2d05865fe90d9f39abcbcbd
namex==0.0.9
narwhals
nbclient
nbconvert
nbformat
nest_asyncio
networkx
notebook==7.4.4
notebook_shim
numba==0.60.0
numpy==1.23.5
oauth2client==4.1.3
oauthlib==3.3.1
opt_einsum==3.4.0
optree==0.15.0
orjson==3.11.1
overrides
packaging
pandas==2.0.2
pandocfilters
parso
pathtools==0.1.2
patsy
pexpect
pickleshare
pillow
pkgutil_resolve_name
platformdirs
plotly
pooch==1.8.2
prefigure==0.0.9
progressbar==2.5
prometheus_client
prompt_toolkit
propcache==0.3.2
proto-plus==1.26.1
protobuf==3.19.6
psutil
ptyprocess
pure_eval
pyaml==25.5.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser
pydantic==2.10.6
pydantic_core==2.27.2
pydub==0.25.1
Pygments
pyloudnorm==0.1.1
pynndescent==0.5.13
pyparsing==3.2.1
PySocks
pystoi==0.4.1
python-dateutil
python-json-logger
python-multipart==0.0.20
pytorch-lightning==2.1.0
pytz
PyWavelets==1.4.1
PyYAML
pyzmq
randomname==0.2.1
referencing
regex==2024.11.6
requests
requests-oauthlib==2.0.0
rfc3339_validator
rfc3986-validator
rich==14.0.0
rpds-py
rsa==4.9.1
ruff==0.12.7
safehttpx==0.1.6
safetensors==0.5.3
scikit-image==0.24.0
scikit-learn==1.6.1
scipy
seaborn
semantic-version==2.10.0
Send2Trash
sentencepiece==0.1.99
sentry-sdk==2.23.1
setproctitle==1.3.5
shellingham==1.5.4
six
smmap==5.0.2
sniffio
snowballstemmer==3.0.1
soundfile==0.13.1
soupsieve
soxr==0.5.0.post1
Sphinx==8.1.3
sphinx-autodoc-typehints==3.0.1
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
stable-audio-tools==0.0.19
stack_data
starlette==0.47.2
statsmodels
sympy==1.13.1
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.4
tensorflow-io-gcs-filesystem==0.37.1
termcolor==3.1.0
terminado
threadpoolctl==3.6.0
tifffile
timm==1.0.16
tinycss2
tokenizers==0.21.4
tomli
tomlkit==0.13.3
torch==2.6.0
torch-snake==1.0.1
torch-stoi==0.2.3
torchaudio==2.6.0
torchdiffeq==0.2.5
torchlibrosa==0.1.0
torchmetrics==0.11.4
torchsde==0.2.6
torchvision==0.21.0
tornado
tqdm
traitlets
trampoline==0.1.2
transformers==4.54.0
typer==0.16.0
types-python-dateutil
typing_extensions
typing_utils
tzdata
umap-learn==0.5.7
unicodedata2
uri-template
uritemplate==4.2.0
urllib3
uvicorn==0.35.0
v-diffusion-pytorch==0.0.2
vector-quantize-pytorch==1.14.41
wandb==0.15.4
wcwidth
webcolors
webdataset==0.2.100
webencodings
websocket-client
websockets==15.0.1
Werkzeug==3.1.3
wget==3.2
widgetsnbextension
wrapt==1.17.2
yarl==1.20.1
zipp
zstandard==0.23.0
